.container{
    height: 100%;
}
.iconmnf:hover{
    color: #f39575 !important;
}
img{
    width: 100%;
    height: 100%;
}
.iconmnf:hover i{
    opacity: 1;
    visibility: visible;
}
.iconmnf:hover span{
    transform: translateX(0px);
}
.dropdown-header:hover a{
    color: #f39575;
}
.dropdown-header:hover a::after{
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.fa{
    font-weight: 900;
}
.row{
    padding: 0;
    margin: 0;
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    text-decoration: none !important;
}
@media screen and (min-width: 992px){
    .logo > a > img {
        position: absolute;
        left: 0;
        top: -24%;
        transform: scale(1.4);
    }
}
#header {
    color: #000;
    font-weight: 600;
    background-color: #f5f5f5;
    text-transform: capitalize !important;
}
#header .container {
    height: 45px;
}
.header-list > div {
    font-size: 13px;
    padding: 0px 1rem;
}
.account {
    height: 100%;
    display: flex;
    align-items: center;
}
#header span, #header .dropdown {
    display: inline-block;
    border-color: #000 !important;
    cursor: pointer;
}
.dropdown, .dropup {
    position: relative;
}
#header i {
    color: #a1624d;
}
.dropdown-menu {
    background: transparent;
    margin-top: 0;
    border: none !important;
}
#header .dropdown-menu {
    background-color: #ffffff;
    top: 27px;
    left: 0;
    box-shadow: -4px 4px 5px 0px rgba(97, 97, 97, 0.75);
}
.header-list a {
    font-size: 13px;
    padding: 0px 1rem;
    text-transform: capitalize !important;
    text-decoration: none;
    color: #000000;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
#header .header-list a:hover{
    color:#f39575;
}
#header .header-list .account:hover{
    color: #f39575 !important;
}
#header .dropdown-toggle::after{
    display: none;
}
#header .dropdown-menu .dropdown-item:hover{
    background: #f5f5f5;
    color: #6c757d;
}
#search-area {
    margin: 10px 0;
    padding: 0px 10px;
}
#search-area .container {
    height: 100%;
}
#search-area .container .row {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#search-area .input-group {
    border-radius: 30px;
    height: 38px;
    overflow: hidden;
    padding: 0;
    margin: 10px 0;
}
.ipg-wp {
    border: 1px solid #c0c0c1;
    border-radius: 30px;
    height: 38px;
    overflow: hidden;
    display: flex;
}
#search-area .search-query.form-control {
    border: none !important;
    outline: none !important;
    padding: 0;
    height: 100%;
    box-shadow: none;
    border-radius: 30px;
    padding: 0 10px 0 20px;
}
#search-area .input-group-btn .btn {
    background-color: #ffffff;
    padding-right: 10px;
    height: 100%;
    box-shadow: none;
}
#search-area .input-group-btn .btn i {
    color: #a1624d;
}
.header-right {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}
#search-area .header-right i.fa-bars{
    display: none;
}
.logo {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 60px; */
    z-index: 100;
    width: 100px;
    height: 100px;
}
.logo img {
    width: 100px;
    height: 100px;
}
.cart1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-item1 {
    background-color: #ffffff !important;
    border: 1px solid #c0c0c1 !important;
    border-radius: 30px !important;
    padding: 0 10px !important;
    color: #c0c0c1 !important;
    height: 40px;
    box-shadow: none;
}
#search-area .header-right .card-item1:hover{
    border: 1px solid #f39575 !important;
}
.card-iteam i, .card-item1 i {
    color: #a1624d;
    padding: 10px;
}
.card-iteam span, .card-item1 span {
    padding-right: 5px;
}
nav{
    background: #f5f5f5;
    height: 70px;
    transition: 0.6s;
}
nav ul.navbar-nav > li.nav-item {
    padding: 10px 5px;
    text-transform: uppercase;
}
nav ul.navbar-nav > li.nav-item > a {
    color: #000 !important;
    font-weight: 700;
    height: 100%;
    border-radius: 35px;
    padding: 10px 15px !important;
    display: inline-block;
    font-size: 14px;
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    width: 100%;
    padding: 0 !important;
}
.dropdown-menu {
    background: transparent;
    margin-top: 0;
    border: none !important;
}
.dropdown-menu .container {
    background-color: #ffffff;
    padding: 20px 15px;
    -webkit-box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
    -moz-box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
    box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
}
.mega-dropdown-menu ul {
    list-style: none !important;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 16px;
    color: #000;
    padding: 0;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.mega-dropdown-menu a {
    display: block;
    color: #000;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}
.mega-dropdown-menu .dropdown-header a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 20%;
    background-color: #a1624d;
    transition: .5s;
}
.iconmnf {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}
.iconmnf > i {
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    transform: scale(1);
    transition: .4s all;
}
.iconmnf > span {
    display: block;
    padding-left: 5px;
    transform: translateX(-20px);
    transition: .4s all;
}
.slide{
    width: 100%;
}
.slide img{
    width: 100%;
}
.slide li{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.slide .carousel-caption{
    bottom: 30%;
}
.slide .carousel-caption h5{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.5vw;
}
.slide .carousel-caption h2{
    font-size: 4vw;
    margin: 10px 0px;
}
.slide .carousel-caption p{
    font-size: 1.75vw;
    font-weight: 600;
}
.slide .carousel-caption a{
    text-decoration: none;
    color: var(--text-color2);
    border: 1px solid #fff;
    padding: 5px 30px;
    font-size: var(--font-16);
    border-radius: 17px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}
.slide .carousel-caption a:hover{
    background: #73be47;
}
.productmenu{
    padding-top: 2rem;
    padding-bottom: 5rem;
    display: block;
}
.productmenu .row{
    padding: 0;
    margin: 0;
}
.productmenu .row>.col-12>.productmenu__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid-gap: 20px;
}
.productmenu .row>.col-12>.productmenu__wrapper>.wappert{
    height: 336px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
    overflow: hidden;
    position: relative;
    clip-path: circle(50% at 50% 50%);
}
.productmenu .row>.col-12>.productmenu__wrapper>.wappert>.wptx{
    width: 336px;
    height: 336px;
    clip-path: circle(50% at 50% 50%);
}
.row>.col-12>.productmenu__wrapper>.wappert>.wptx>.productmenu__selection{
    cursor: pointer;
    height: 100%;
    transition: .5s;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.row>.col-12>.productmenu__wrapper>.wappert>.wptx span{
    background-color: #919dbc54;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 48px;
    left: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    line-height: 30px;
    font-size: 16px;
}
.row>.col-12>.productmenu__wrapper>.wappert>.wptx>.productmenu__selection:hover{
    transform: scale(1.2);
}
.row>.col-12>.productmenu__wrapper>.wappert>.wptx:hover span{
    color: #a1624d;
}
body>hr{
    margin: 10px 0 15px 0;
    background-color: #f5f5f5 !important;
}
#service{
    padding: 30px 0 0 0;
}
#service .row{
    padding: 0;
}
#service .row .service__wapper{
    flex-direction: column;
    text-align: center
}
#service .row .service__wapper>i{
    color: #a1624d;
    font-size: 2rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    line-height: 70px;
    border: 1px dashed #a1624d;
    text-align: center;
    position: relative;
}
#service .row .service__wapper>i::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    border: 1px dashed #a1624d;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}
#service .row .service__wapper:hover{
    color: #a1624d !important;
}
#service .row .service__wapper:hover>i::after{
    opacity: 1;
    visibility: visible;
    transform: scale(0.8);
}
#supperoffer{
    padding: 30px 0 0 0;
}
#supperoffer .row{
    padding: 0;
}
#supperoffer h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#supperoffer .wapper{
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#supperoffer .so-wapper{
    height: 375px;
    z-index: 11;
}
#supperoffer .so-wapper>.sot-wapper{
    position: absolute;
    top: 20%;
    left: 0;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#supperoffer .so-wapper>.sot-wapper>p{
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 11;
}
#supperoffer .so-wapper>.sot-wapper>p::after{
    position: absolute;
    content: "";
    background-color: #ffffff;
    height: 2px;
    bottom: -3px;
    left: 43%;
    width: 50px;
}
#supperoffer .so-wapper>.sot-wapper>span{
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    text-align: center;
    font-weight: 700;
    z-index: 11;
}
#supperoffer .so-wapper>.sot-wapper>.btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
}
#supperoffer .so-wapper>.of1{
    background-image: url(https://i.ibb.co/9rn438z/strawberry2.png);
    height: 375px;
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
}
#supperoffer .so-wapper1{
    height: 175px;
    z-index: 11;
}
#supperoffer .so-wapper1>.sot-wapper{
    position: absolute;
    top: 20%;
    left: 0;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#supperoffer .so-wapper1>.sot-wapper p {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 11;
}
#supperoffer .so-wapper1>.sot-wapper p::after{
    position: absolute;
    content: "";
    background-color: var(--body-bgc);
    height: 2px;
    bottom: -3px;
    left: 43%;
    width: 50px;
}
#supperoffer .so-wapper1>.sot-wapper>.btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 0 !important;
}
#supperoffer .so-wapper1>.of2{
    background-image: url(https://i.ibb.co/FV0wTcQ/melons.png);
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
}
#supperoffer .so-wapper1{
    height: 175px;
    z-index: 11;
}
#supperoffer .so-wapper1>.sot-wapper{
    position: absolute;
    top: 20%;
    left: 0;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#supperoffer .so-wapper1>.sot-wapper p {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 11;
}
#supperoffer .so-wapper1>.sot-wapper p::after{
    position: absolute;
    content: "";
    background-color: var(--body-bgc);
    height: 2px;
    bottom: -3px;
    left: 43%;
    width: 50px;
}
#supperoffer .so-wapper1>.sot-wapper>.btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 0 !important;
    z-index: 11;
}
#supperoffer .so-wapper1>.of3{
    background-image: url(https://i.ibb.co/FV0wTcQ/melons.png);
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
}
#supperoffer .so-wapper{
    height: 375px;
    z-index: 11;
}
#supperoffer .so-wapper>.sot-wapper{
    position: absolute;
    top: 20%;
    left: 0;
    color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#supperoffer .so-wapper>.sot-wapper p {
    text-align: center;
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 11;
}
#supperoffer .so-wapper>.sot-wapper p::after{
    position: absolute;
    content: "";
    background-color: #fff;
    height: 2px;
    bottom: -3px;
    left: 43%;
    width: 50px;
}
#supperoffer .so-wapper>.sot-wapper>.btn{
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: none;
    outline: none;
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    margin-top: 0 !important;
    z-index: 11;
}
#supperoffer .so-wapper>.of4{
    background-image: url(https://i.ibb.co/FV0wTcQ/melons.png);
    transition: .5s;
    background-size: cover;
    background-repeat: no-repeat;
    height: 375px;
}
#supperoffer .wapper:hover .supperoffer__selection{
    transform: scale(1.2);;
}
#supperoffer .wapper .btn:hover{
    background: #73be47;
}
#bestsellers{
    padding: 50px 0 0 0;
}
#bestsellers .row{
    padding: 0;
}
#bestsellers h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#bestsellers ul.bs-list {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 10px;
}
#bestsellers ul.bs-list li {
    padding: 5px;
}
#bestsellers ul.bs-list li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
}
#bestsellers .bs-list .active a {
    color: #a1624d;
}
#bestsellers .card, #dealsmonth .card {
    width: 280px;
    border: none;
    padding-top: 10px;
    transition: 0.2s;
}
.card-img {
    width: 255px;
    height: 225px;
    position: relative;
    margin: 0 auto;
}
#bestsellers .card-img img, #dealsmonth .card-img img {
    width: 255px;
    height: 225px;
}
.card-img i {
    position: absolute;
    color: #fff;
    background-color: #a1624d;
    display: block;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11;
    line-height: 50px;
    cursor: pointer;
    top: 45%;
    left: 40%;
    text-align: center;
    display: none;
}
.card-title {
    font-size: 1rem;
    color: #a1624d;
}
.card-text {
    color: #a1624d;
    font-style: italic;
    font-size: 1rem;
}
.card__wp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__wp a {
    width: 50% !important;
    border-radius: 25px;
    padding: 5px 10px !important;
    box-shadow: none !important;
    color: white !important;
    font-weight: 600 !important;
    background-color: #a1624d;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#carousel3Column .carousel-control-next-icon, #carousel3Column .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #999999;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-image: none;
}
.carousel-control-prev, .carousel-control-next {
    width: 40px !important;
}
.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
}
#carousel3Column .carousel-control-prev-icon:hover{
    background: #a1624d;
    color: white;
}
#carousel3Column .carousel-control-next-icon:hover{
    background: #a1624d;
    color: white;
}
#featuredsproducts {
    padding: 20px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    padding: 0;
}
#featuredsproducts h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#featuredsproducts .flip-box {
    cursor: pointer;
}
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box-front {
    color: black;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-back i {
    position: absolute;
    color: #fff;
    background-color: #a1624d;
    display: block;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11;
    line-height: 50px;
    cursor: pointer;
    top: 45%;
    left: 45%;
}
#featuredsproducts .fp__wapper {
    padding: 15px 0;
}
#featuredsproducts .fp__wapper span.fp__cap {
    font-size: 26px;
    font-weight: 700;
    color: #a1624d;
    display: block;
}
#featuredsproducts .fp__wapper > i:nth-child(2) {
    border: none !important;
}
#featuredsproducts .fp__wapper .fp__price {
    color: #a1624d;
    font-weight: 500;
    font-size: 16px;
}
#featuredsproducts .fp__wapper > i {
    margin: 0 5px;
    border: 1px solid #c0c0c1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
#featuredsproducts .fp__wapper del {
    color: #a3a3a3;
}
.checked {
    color: #f39575;
    font-size: 10px !important;
}
#featuredsproducts p {
    color: #a3a3a3;
    font-size: 13px;
    margin-bottom: 20px;
}
#featuredsproducts .fp__label {
    padding: 5px 15px;
    text-decoration: none;
    background-color: #a1624d;
    color: #fff;
    border-radius: 25px;
    line-height: 23px;
    font-size: 13px;
    cursor: pointer;
}
#blogCarousel .carousel-control-prev {
    height: 40px;
    right: 45px !important;
    left: unset !important;
}
#blogCarousel .carousel-control-next-icon, #blogCarousel .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #999999;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-image: none;
}
#blogCarousel .carousel-control-next {
    height: 40px;
}
.carousel-control-next {
    right: 0;
}
#blogCarousel .flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}
#blogCarousel .flip-box .flip-box-inner .fa:hover{
    background: #f39575;
}
#dealsmonth {
    padding: 20px 0 0 0;
}
#dealsmonth h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#dealsmonth .card {
    position: relative;
    width: 280px;
    border: none;
    padding-top: 10px;
    transition: 0.2s;

}
#dealsmonth .card a.count {
    text-decoration: none;
    text-align: center;
    color: #a1624d;
    font-weight: 600;
    font-size: 1rem;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 30px;
    border: 1px solid #a1624d;
    z-index: 11;
    border-radius: 25px;
    background-color: #ffffff;
    width: 80%;
}
.card-img {
    width: 255px !important;
    height: 225px;
    position: relative;
    margin: 0 auto;
    cursor: pointer;
}
#bestsellers .card-img img, #dealsmonth .card-img img {
    width: 255px;
    height: 225px;
}
#dealsmonth .card-img i {
    position: absolute;
    color: #ffffff;
    background-color: #a1624d;
    display: block;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11;
    line-height: 50px;
    cursor: pointer;
    top: 45%;
    left: 40%;
    text-align: center;
}
.card-title {
    font-size: 1rem;
    color: #a1624d;
}
.card-text {
    color: #a1624d;
    font-style: italic;
    font-size: 1rem;
}
#dealsmonth .card-body del {
    color: #a3a3a3;
}
#dealsmonth .card-body span.sale {
    color: #000000;
    display: inline-block;
    padding: 5px;
    background-color: #eaff00;
    border-radius: 50%;
    font-size: .7rem;
}
.card-img:hover i{
    background:#f39575 !important;
}
#carousel3Column1 .carousel-control-next-icon, #carousel3Column1 .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #999999;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-image: none;
}
#carousel3Column1 .carousel-control-next-icon:hover{
    background: #a1624d;
    color: white;
}
#carousel3Column1 .carousel-control-prev-icon:hover{
    background: #a1624d;
    color: white;
}
#news {
    padding: 20px 0 0 0;
}

#news h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#news img {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    transition: .5s;
    position: relative;
    cursor: pointer;
}
#news .label1 {
    background-color: #a1624d;
    border-radius: 20px;
    color: #fff;
    padding: 3px 10px;
    text-decoration: none;
    font-size: 14px;
}
#news .newscap {
    display: block;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 18px;
    color: #a1624d;
}
#news time {
    color: #a3a3a3;
    padding-bottom: 5px;
    display: block;
    font-size: 12px;
}
#news span {
    display: inline-block;
}
#news p {
    color: #a3a3a3;
    font-size: 13px;
}
#news img {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
    transition: .5s;
    position: relative;
}
#news .btn {
    box-shadow: none;
    outline: none;
    background-color: #a1624d;
    color: #fff;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 10px 0 0 0;
}
#feedback {
    padding: 20px 0;
}
#feedback h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #000000;
    padding: 30px 0;
    text-align: center;
    margin-bottom: 0 !important;
}
#feedback .fb__wapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
#feedback .img__wapper {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #a3a3a3;
    overflow: hidden;
    margin: 0 10px;
    cursor: pointer;
}
#feedback .img__wapper.active1 {
    height: 110px;
    width: 110px;
}
#feedback p {
    color: #a3a3a3;
    font-size: 13px;
}
#feedback span.fb-name {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 20px;
    color: #000000;
}
#feedback span {
    color: #a1624d;
    font-size: 13px;
}
#partner {
    padding: 35px;
}
#partner img {
    border: 2px solid #f5f5f5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    font-size: 10px;
    width: auto !important;
}
#mail-area {
    height: 110px;
    background-color: #a1624d;
    color: #f5f5f5;
}
#mail-area p {
    font-weight: 600;
    font-size: 13px;
}
#mail-area .row {
    height: 100%;
}
#mail-area .container {
    width: 100%;
    padding: 0;
    height: 100%;
}
.input-group {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
#mail-area input {
    box-shadow: none !important;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;
}
#mail-area input {
    box-shadow: none !important;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#mail-area .btn {
    border-radius: 10px;
    outline: none;
    box-shadow: none !important;
    color: #f5f5f5;
    background-color: #a1624d;
    border: 1px solid #f5f5f5;
}
#map {
    height: 260px;
}
#map .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
    height: 100%;
}
#footer {
    background-color: #252932;
    color: #f5f5f5;
}
#footer__info {
    padding: 20px 0;
}
#footer .container{
    height: 100%;
}
hr.divider {
    background-color: #f5f5f5 !important;
}
#footer__info h5 {
    padding: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
#footer__info img{
    width: auto;
    height: auto;
}
#footer__info p {
    font-size: 13px;
    color: #999999;
}
#footer__info span {
    color: #a1624d;
    cursor: pointer;
}
#footer__info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.dot > li {
    margin-top: 3px;
}
#footer__info .dot a {
    color: #999999;
    text-decoration: none;
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 13px;
}
#footer__info .dot a::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #a1624d;
    border-radius: 50%;
    top: 7px;
    left: -7px;
}
#footer__info .dot a i {
    color: #a1624d;
}
.social, .social a, .social span {
    color: #f5f5f5 !important;
    font-size: 1.5rem;
    cursor: pointer;
}
#footer__info span {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
}
.social i {
    padding: 0 5px;
}
.ecommerce {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.ecommerce a {
    padding: 0 5px;
}
.ecommerce img {
    width: 60px;
    height: auto;
}
#feedback img {
    width: 100%;
    height: 100%;
    transition: .5s;
}
.productmenu__selection img {
    width: 100%;
    height: 100%;
}
#footer__copyright {
    background-color: #1e1e1e;
    color: #f5f5f5;
    height: 30px;
}
#footer__copyright .container{
    height: 100%;
}
#footer__copyright p {
    line-height: 30px;
    font-size: 13px;
}
.iconmnf:hover{
    color: #f39575 !important;
}
.iconmnf:hover i{
    opacity: 1;
    visibility: visible;
}
.iconmnf:hover span{
    transform: translateX(0px);
}
.dropdown-header:hover a{
    color: #f39575;
}
.dropdown-header:hover a::after{
    width: 100%;
}
.wptx .productmenu__selection:hover{
    transform: scale(1.2);
}
.p-1 .card{
    box-shadow: 1px 2px 1px 2px white;
}
.p-1 .card:hover{
    box-shadow: 1px 2px 1px 2px gray;
}
.p-1 .card .card-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.223);
    display: none;
}
.p-1 .card:hover .card-img::after{
    display: inherit;
}
.p-1 .card:hover i{
    display: inherit;
}
#news img:hover{
    box-shadow: 0.5px 1px 0.5px 1px greenyellow ;
}
#partner img:hover{
    border: 2px solid brown !important;
}
.scroll-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: auto;
    transition: 0.6s;
}
#logoNav {
    width: 80px;
    height: 80px;
    /* margin-top: 25px; */
    display: none;
    margin-right: 20px;
}
nav .card-item1 {
    display: none;
}