.container{
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.fa{
    font-weight: 900;
}
.row{
    padding: 0;
    margin: 0px !important;
    box-sizing: border-box;
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fp__label {
    padding: 5px 15px;
    text-decoration: none;
    background-color: #a1624d;
    color: #ffffff !important;
    border-radius: 25px;
    line-height: 23px;
    font-size: 13px;
    cursor: pointer;
}
a {
    text-decoration: none !important;
}
@media screen and (min-width: 992px){
    .logo > a > img {
        position: absolute;
        left: 0;
        top: -24%;
        transform: scale(1.4);
    }
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
#header {
    color: #000;
    font-weight: 600;
    background-color: #f5f5f5;
    text-transform: capitalize !important;
}
#header .container {
    height: 45px;
}
.header-list > div {
    font-size: 13px;
    padding: 0px 1rem;
}
.account {
    height: 100%;
    display: flex;
    align-items: center;
}
#header span, #header .dropdown {
    display: inline-block;
    border-color: #000 !important;
    cursor: pointer;
}
.dropdown, .dropup {
    position: relative;
}
#header i {
    color: #a1624d;
}
.dropdown-menu {
    background: transparent;
    margin-top: 0;
    border: none !important;
}
#header .dropdown-menu {
    background-color: #ffffff;
    top: 27px;
    left: 0;
    box-shadow: -4px 4px 5px 0px rgba(97, 97, 97, 0.75);
}
.header-list a {
    font-size: 13px;
    padding: 0px 1rem;
    text-transform: capitalize !important;
    text-decoration: none;
    color: #000000;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
#header .header-list a:hover{
    color:#f39575;
}
#header .header-list .account:hover{
    color: #f39575 !important;
}
#header .dropdown-toggle::after{
    display: none;
}
#header .dropdown-menu .dropdown-item:hover{
    background: #f5f5f5;
    color: #6c757d;
}
#search-area {
    margin: 10px 0;
    padding: 0px 10px;
}
#search-area .container {
    height: 100%;
}
#search-area .container .row {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
#search-area .input-group {
    border-radius: 30px;
    height: 38px;
    overflow: hidden;
    padding: 0;
    margin: 10px 0;
}
.ipg-wp {
    border: 1px solid #c0c0c1;
    border-radius: 30px;
    height: 38px;
    overflow: hidden;
    display: flex;
}
#search-area .search-query.form-control {
    border: none !important;
    outline: none !important;
    padding: 0;
    height: 100%;
    box-shadow: none;
    border-radius: 30px;
    padding: 0 10px 0 20px;
}
#search-area .input-group-btn .btn {
    background-color: #ffffff;
    padding-right: 10px;
    height: 100%;
    box-shadow: none;
}
#search-area .input-group-btn .btn i {
    color: #a1624d;
}
.header-right {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    padding-right: 0px;
}
#search-area .header-right i.fa-bars{
    display: none;
}
.logo {
    display: flex;
    justify-content: flex-end;
    /* margin-left: 60px; */
    z-index: 100;
    width: 100px;
    height: 100px;
}
.logo img {
    width: 100px;
    height: 100px;
}
.cart1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card-item1 {
    background-color: #ffffff !important;
    border: 1px solid #c0c0c1 !important;
    border-radius: 30px !important;
    padding: 0 10px !important;
    color: #c0c0c1 !important;
    height: 40px;
    box-shadow: none;
}
#search-area .header-right .card-item1:hover{
    border: 1px solid #f39575 !important;
}
.card-iteam i, .card-item1 i {
    color: #a1624d;
    padding: 10px;
}
.card-iteam span, .card-item1 span {
    padding-right: 5px;
}
nav{
    background: #f5f5f5;
    height: 70px;
    transition: 0.6s;
}
nav ul.navbar-nav > li.nav-item {
    padding: 10px 5px;
    text-transform: uppercase;
}
nav ul.navbar-nav > li.nav-item > a {
    color: #000 !important;
    font-weight: 700;
    height: 100%;
    border-radius: 35px;
    padding: 10px 15px !important;
    display: inline-block;
    font-size: 14px;
}
.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    width: 100%;
    padding: 0 !important;
}
.dropdown-menu {
    background: transparent;
    margin-top: 0;
    border: none !important;
}
.dropdown-menu .container {
    background-color: #ffffff;
    padding: 20px 15px;
    -webkit-box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
    -moz-box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
    box-shadow: 0px 16px 34px 0px rgba(115, 190, 71, 0.72);
}
.mega-dropdown-menu ul {
    list-style: none !important;
}
.mega-dropdown-menu .dropdown-header {
    font-size: 16px;
    color: #000;
    padding: 0;
    line-height: 30px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
}
.mega-dropdown-menu a {
    display: block;
    color: #000;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}
.mega-dropdown-menu .dropdown-header a::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 20%;
    background-color: #a1624d;
    transition: .5s;
}
.iconmnf {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}
.iconmnf > i {
    visibility: hidden;
    opacity: 0;
    font-size: 15px;
    transform: scale(1);
    transition: .4s all;
}
.iconmnf > span {
    display: block;
    padding-left: 5px;
    transform: translateX(-20px);
    transition: .4s all;
}
main {
    position: relative;
}
#featuredsproducts {
    padding: 20px 0 0 0;
    justify-content: center;
    flex-wrap: wrap;
}
.block-detail {
    width: 100%;
}
.detail-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.img-prduct {
    position: relative;
    display: block;
    height: auto;
}
.dt-img-pr {
    width: auto!important;
}
.detail-product img {
    width: 100% !important;
    height: 300px !important;
    border: 1px solid #dedede;
}
#gallery_01 {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
#gallery_01 > a {
    width: 23%;
    height: 95px;
    border: 1px solid #ededed;
}
#gallery_01 > a > img {
    width: 100% !important;
    height: 100% !important;
}
#gallery_01 img {
    border: 2px solid white;
}
.dt-name-pr {
    width: auto;
}
#featuredsproducts .fp__wapper {
    padding: 15px 0;
}
#featuredsproducts .fp__wapper span.fp__cap {
    font-size: 26px;
    font-weight: 700;
    color: #a1624d;
    display: block;
}
#featuredsproducts .fp__wapper > i:nth-child(2) {
    border: none !important;
}
#featuredsproducts .fp__wapper .fp__price {
    color: #a1624d;
    font-weight: 500;
    font-size: 16px;
}
#featuredsproducts .fp__wapper > i {
    margin: 0 5px;
    border: 1px solid #c0c0c1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
#featuredsproducts .fp__wapper del {
    color: #a3a3a3;
}
.checked {
    color: #f39575;
}
hr.divider {
    background-color: var(--bg-color2) !important;
    margin: 50px 0 0 0;
}
#featuredsproducts hr.divider {
    margin: 10px 0 15px 0;
}
#featuredsproducts p {
    color: #a3a3a3;
    font-size: 13px;
    margin-bottom: 20px;
}
#featuredsproducts .fp__label {
    padding: 5px 15px;
    text-decoration: none;
    background-color: #a1624d;
    color: #ffffff;
    border-radius: 25px;
    line-height: 23px;
    font-size: 13px;
    cursor: pointer;
}
.dt-danhmuc {
    display: flex;
    font-size: 13px;
}
.dt-danhmuc > .dt-dm-left {
    margin-right: 1rem;
}
.dt-dm-left > ul {
    list-style: none;
}
.dt-dm-left > ul > li {
    color: #a3a3a3;
    padding: 0.2rem 0rem;
    text-align: left;
}
.dt-dm-right > ul {
    list-style: none;
}
.dt-dm-right > ul > li {
    padding: 0.2rem 0rem;
    text-align: left;
}
.dt-dm-right > ul > li > a {
    color: #a1624d;
    padding: 0.2rem;
}
.block-tab-detail {
    width: 100%;
}
.nv-tab {
    border: none;
    padding: 1rem 0rem 1.5rem 0rem;
}
.nv-tab > li {
    border: 1px solid #dbdbdb;
    margin-right: 1rem;
    border-radius: 2rem;
    background: #a1624d;
}
.nv-tab > li > a {
    border: none !important;
    border-radius: 2rem;
    font-size: 16px;
    padding: 0.4rem 1rem;
    background: none !important;
    color: white !important;
}
.tab-ct-v2 {
    padding: 1rem;
    border: 1px solid #d3d4d6;
    width: 100%;
    display: block;
    margin-bottom: 4rem;
}
.tab-content>.active {
    display: block;
}
.title-tab {
    font-size: 16px;
    color: #a1624d;
    font-weight: 500;
    padding-bottom: 1rem;
    width: 100%;
}
.t-content {
    color: #aeafb1;
    font-size: 13px;
}
.detail-pr-connection {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.list-product {
    width: 100%;
    margin-bottom: 1rem;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.list-product>ul {
    height: 100%;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.list-product>ul>li {
    padding: 1rem;
    margin-bottom: 0rem;
    display: block;
}
.item-pr {
    width: 100%;
    padding: 1rem;
    display: inline-flex;
}
.detai-pr {
    display: block!important;
    padding: 0.5rem;
}
.item-pr-v2 {
    border: 1px solid #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.img-prduct {
    position: relative;
    display: block;
    height: auto;
}
.det {
    width: 100%!important;
}
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-box-front {
    color: black;
}
.flip-box img {
    width: 100%;
    height: 100%;
}
.flip-box-back {
    color: white;
    transform: rotateY(180deg);
}
.flip-box-back i {
    position: absolute;
    color: #ffffff;
    background-color: #a1624d;
    display: block;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 11;
    line-height: 50px;
    cursor: pointer;
    top: 45%;
    left: 45%;
}
.det {
    width: 100%!important;
}
.det>.fp__wapper {
    padding: 15px 0;
    text-align: center;
}
.fp__wapper span.fp__cap {
    font-size: 26px;
    font-weight: 700;
    color: #a1624d;
    display: block;
}
.fp__wapper>i:nth-child(2) {
    border: none !important;
}
.fp__wapper .fp__price {
    color: #a1624d;
    font-weight: 500;
    font-size: 16px;
}
.fp__wapper del {
    color: #a3a3a3;
}
.fp__wapper>i {
    margin: 0 5px;
    border: 1px solid #c0c0c1;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
.checked {
    color: #f39575;
}
.list-product>ul>li {
    padding: 1rem;
    margin-bottom: 0rem;
    display: block;
}
.item-pr {
    width: 100%;
    padding: 1rem;
    display: inline-flex;
}
.detai-pr {
    display: block!important;
    padding: 0.5rem;
}
.item-pr-v2 {
    border: 1px solid #e3e3e3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.img-prduct {
    position: relative;
    display: block;
    height: auto;
}
.flip-box {
    background-color: transparent;
    width: 100%;
    height: 300px;
    perspective: 1000px;
}
#mail-area {
    height: 110px;
    background-color: #a1624d;
    color: #ffffff;
}
#mail-area .row {
    height: 100%;
}
#mail-area p {
    font-weight: 600;
    font-size: 13px;
}
#mail-area input {
    box-shadow: none !important;
    margin-right: 20px;
    border-radius: 10px;
    outline: none;
}
#mail-area .btn {
    border-radius: 10px;
    outline: none;
    box-shadow: none !important;
    color: #ffffff;
    background-color: #a1624d;
    border: 1px solid #ffffff;
}
#footer {
    background-color: #252932;
    color: #ffffff;
}
#footer__info {
    padding: 20px 0;
}
#footer__info h5 {
    padding: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
#footer__info p {
    font-size: 13px;
    color: #999999;
}
#footer__info span {
    color: #a1624d;
    cursor: pointer;
}
#footer__info h5 {
    padding: 30px 0 0 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
#footer__info ul {
    list-style: none;
}
.dot > li {
    margin-top: 3px;
}
#footer__info .dot a {
    color: #999999;
}
#footer__info .dot a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 13px;
}
#footer__info .dot a::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    background: #a1624d;
    border-radius: 50%;
    top: 7px;
    left: -7px;
}
.social, .social a, .social span {
    color: #ffffff !important;
    font-size: 1.5rem;
    cursor: pointer;
}
.social i {
    padding: 0 5px;
}
.social span {
    display: inline-block;
    padding: 0 5px;
    font-size: 16px;
}
.ecommerce {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
}
.ecommerce a {
    padding: 0 5px;
}
.ecommerce img {
    width: 60px;
    height: auto;
}
#footer__copyright {
    background-color: #000000;
    color: #ffffff;
    height: 30px;
}
#footer__copyright p {
    line-height: 30px;
    font-size: 13px;
}
.iconmnf:hover{
    color: #f39575 !important;
}
.iconmnf:hover i{
    opacity: 1;
    visibility: visible;
}
.iconmnf:hover span{
    transform: translateX(0px);
}
.dropdown-header:hover a{
    color: #f39575;
}
.dropdown-header:hover a::after{
    width: 100%;
}
.flip-box:hover .flip-box-inner{
    transform: rotateY(180deg);
}
.flip-box .flip-box-inner .fa:hover{
    background: #f39575;
}
.scroll-nav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: auto;
    transition: 0.6s;
}
#logoNav {
    width: 80px;
    height: 80px;
    /* margin-top: 25px; */
    display: none;
    margin-right: 20px;
}
nav .card-item1 {
    display: none;
}